/* Umumiy */
body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease;
}

/* Dark mode faollashtirilganda */
body.dark-mode {
  background-color: #121212;
  color: #fff;
}

.dark-toggle-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: inherit;
}
