:root {
  --chat-back-img: url("https://wallpapers.com/images/hd/dark-city-background-ympe22eapcw8su8e.jpg");
  /* background-image: url(); */
}
body {
  background-image: var(--chat-back-img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user-profile-container {
  font-family: var(--chat-font);
  width: 24%;
  height: 96vh;
  background-color: rgba(255, 255, 255, 0.843); /* Xira oq fon */
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.hide-profile-btn {
  position: relative;
  top: 2%;
  right: 40%;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 0;
}

/* --------------------- */
/* user profile */
.user-profile {
  text-align: center;
  border-bottom: 1px solid black;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
}

.user-name {
  color: darkblue;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0 10px 0;
  text-align: left;
  padding-left: 2%;
}

/* user-info-container */
.user-info-container {
  padding: 10px;
}

.user-info-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px; /* li lar orasidagi masofa */
}

.user-info-container li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-info-container li span {
  font-size: 1.2rem;
}

.icon-user {
  font-size: 1.7rem;
  color: rgb(92, 90, 90);
}
.icon-email {
  font-size: 1.7rem;
  color: rgb(92, 90, 90);
}
.icon-info {
  font-size: 1.7rem;
  color: rgb(92, 90, 90);
}

/* Hamburger menyu tugmasi */
.menu-btn {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  background: white;
  padding: 5px;
  border-radius: 8px;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Kichik ekranda profili yashiramiz */
@media (max-width: 768px) {
  .user-profile-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1000;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
  }

  .hide-profile-btn {
    display: none;
  }

  /* .user-profile {
    position: relative;
    top: 15%;
  } */
  /* Menyu tugmasini ko‘rsatamiz */
  .menu-btn {
    display: block;
    z-index: 1100;
  }

  .avatar {
    width: 15vh;
    height: 15vh;
  }

  /* Agar `.open` klassi bo‘lsa, ko‘rinadi */
  .user-profile-container.open {
    right: 0;
  }
}
