:root {
  --chat-font: sans-serif;
  --chat-back-img: url("https://wallpapers.com/images/hd/dark-city-background-ympe22eapcw8su8e.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--chat-font);
}

.box {
  width: 100%;
  height: 100vh;
  background-image: var(--chat-back-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.children-box {
  max-width: 99%;
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: transparent;
}

/* 🔹 Chat butun ekranni egallashi faqat 400px–600px oralig‘ida */
@media (min-width: 400px) and (max-width: 600px) {
  .mobile-chat-active {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  
  .mobile-chat-active > :not(:nth-child(2)) { /* Faqat `Chat` ko‘rinadi */
    display: none;
  }
}

